includes:
    - ./vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 7

    paths:
        - database
        - src
        - tests

    ignoreErrors:
        -
            message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
            identifier: argument.type
            count: 1
            path: src/Livewire/MenuLogins.php

        -
            message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
            identifier: argument.type
            count: 1
            path: src/View/Components/DeveloperLogins.php\